# HarfangLab (EDR souverain 🇫🇷)

HUMANIX_BASE_URL=https://academie.humanix-cybersecurity.fr
HUMANIX_API_KEY=hxa_REPLACE_ME

# HarfangLab Manager
HARFANGLAB_BASE_URL=https://hurukai.exemple.fr
HARFANGLAB_API_TOKEN=REPLACE_ME

# Endpoint syslog HTTP exposé par votre Manager (pour push CEF)
HARFANGLAB_SYSLOG_URL=https://hurukai.exemple.fr/api/syslog/intake

LOG_LEVEL=INFO
